.container {
    display: flex;
    flex-direction: column;
    color: var(--color-text-primary);
    padding: 16px;
}

.container-list,
.container-input {
    display: flex;
    flex-direction: column;
    margin: 16px;
}

hr.dotted {
    width: 100%;
    border-top: 1px dotted #999999;
}

.title {
    font-size: 1.625rem;
}

select {
    color: var(--color-text-primary);
    font-size: 1rem;
    width: 100%;
    padding: 12px;
    border-color: #999999;
    border-radius: 8px;
    appearance: none;
    background: url('../../../assets/icons/arrow_expand.svg') no-repeat right white;
    background-position-x: calc(100% - 16px);
    background-size: 32px;
}

.container-input input {
    margin-top: 8px;
    color: var(--color-text-primary);
    font-size: 1rem;
    padding: 12px;
    border: 1px solid grey;
    border-radius: 8px;
    background: url('../../../assets/icons/add.svg') no-repeat right white;
    background-position-x: calc(100% - 16px);
    background-size: 32px;
}

.container-list .title,
.container-list hr {
    margin: 0;
}

.container-checks {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.container-items {
    width: 100%;
    display: flex;
    border-radius: 8px;
    padding: 8px;
    gap: 16px;
    align-items: center;
}

.container-checkbox {
    flex-grow: 3;
    background-color: white;
    padding: 8px;
    border-radius: 8px;
    font-size: 1rem;
    gap: 8px;
}

.container-checkbox input { 
    margin-right: 16px;
}

.container-items img {
    height: 24px;
    width: 24px;
}