<div class="container">
    <form class="container-input" [formGroup]="toDoListForm" (ngSubmit)="submit()">
        <h2 class="title">To do List</h2>
        <select formControlName="selection" (change)="updateSelection()">
            <option *ngFor="let item of toDoList">{{item.name}}</option>
        </select>
        <input type="text" placeholder="Put your task!" formControlName="task">
    </form>

    <div class="container-list">
        <h2 class="title">{{currentSelection}}</h2>
        <hr class="dotted">
        <div class="container-checks">
            <div class="container-items" *ngFor="let task of currentTasks">
                <div class="container-checkbox">
                    <input type="checkbox">
                    <label>{{task}}</label>
                </div>
                <img src="../../../assets/icons/close.svg" (click)="deleteItem(task)" />
            </div>
        </div>
    </div>
</div>