/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #ebebeb;}

:root {
  --font-family-primary: "GalanoGrotesque", Helvetica, "Neue", sans-serif !important;
  --color-text-primary: #004646;
}